section.patienthm
    .container
        .row.align-items-start
            .col.align-self-start
                button(onclick="print_css()").btn.bg-success Generate
        .row.align-item-start
            .col.align-self-start
                textarea#main_css.form-control
        .row.align-items-start
            .col.align-self-start
                button(onclick="copy()").btn.bg-primary Copy CSS